@charset "UTF-8";

*,
*::before *::after {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  min-height: 100%;
  min-width: 100%;
  /*width: 1920px;*/

  display: inline;
}
section,
article,
aside,
footer,
header,
nav,
hgroup {
  display: block;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  list-style: none;
}
input:focus {
  outline: none;
}
div {
  display: block;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}
#wrap > .container {
  background-color: #ffffff;
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  z-index: 999;
}
#wrap > .container > .header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;

  width: 100%;
  justify-content: space-around;
  position: relative;
  align-items: center;
}

.mainlogo {
  margin-right: 4rem;
}

nav {
  display: flex;
}
nav li a {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  margin-right: 3rem;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.rightform {
  display: flex;
  text-align: center;
  align-items: center;
  line-height: 4;
  position: relative;
}

.rightform .input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #fc934d;
  color: #0d0c22;
  text-align: center;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #ffffff;
}

.rightform .icon {
  position: absolute;
  left: 1rem;
  fill: #ffffff;
  width: 1rem;
  height: 4rem;
}

.rightform form {
  display: flex;
  justify-content: center;
  padding-right: 0%;
}

.login a {
  font-size: large;
  text-align: center;
  margin-bottom: 3rem;
}
.logoutmenu{
  display: flex;
  line-height: 5px;
}
.item span{
  position: relative;
  top:5px;
  font-size: medium;
  font-weight: bold;

}

footer {
    background-color: #ffffff;
    color: black;
    padding-top: 64px;
    line-height: 1.5;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }
  footer > ul {
    display: flex;
    flex-direction: column;
    width: 33%;
    list-style-type: disc;
  }
  footer > div > .foot_sct2 {
    background-color: #ffffff;
    border-top: 1px solid #eaebee;
    padding: 2.4rem 0 10rem;
    display: grid;
  }
  